body{
  max-height: 150%;
}
p{
  color: red;
}
.card{
  width: 400px;
  border: 2px solid brown;
  background-color: #e9c46a;
  text-align: center;
  margin: auto;
  padding: 20px;
  margin-bottom: 50px;
}
.spacing{
  display: flex;
  flex-wrap: wrap;
  gap: 50px 100px;
}
.card:hover{
  box-shadow: 5px 3px 20px #606c38;
}
